.profile {
  width: 100%;
  min-height: 120px;
  padding-top: 40px;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 920px) {
  .profile {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 660px) {
  .profile {
    width: 100%;
    display: block;
    padding-top: 42px;
    margin: 0;
  }
}