.popup__image {
  width: 100%;
  min-height: 540px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 660px) {
  .popup__image {
    min-height: 299px;
  }
}

@media screen and (orientation: landscape) {
  .popup__image {
    width: 75vw;
    height: 75vh;
  }
}