.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/Jacques-YvesCousteau.jpg);
  background-color: #C4C4C4;
  background-size: cover;
}

@media screen and (max-width: 660px) {
  .profile__avatar {
    margin: 0 auto;
    display: block;
  }
}