.popup__card {
  width: 433px;
  height: 540px;
  display: flex;
  align-self: center;
  position: relative;
}

@media screen and (max-width: 660px) {
  .popup__card {
    width: 240px;
    height: 299px;
  }
}

@media screen and (orientation: landscape) {
  .popup__card {
    width: max-content;
    height: max-content;
  }
}